@CHARSET "UTF-8";

/*
--------------------------------------------------
--------------------------------------------------
    main
--------------------------------------------------
--------------------------------------------------
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /*margin-bottom: 180px;*/
  margin-bottom: 10px;
  font-size: 14px;
  -ms-overflow-style: scrollbar;
}

.icon-container a{
  vertical-align: middle;
}
.icon-container .glyphicon{
   font-size: 120%;
   margin-top: 3px;
}

form.form-inline label.control-label{
  margin-right: 10px;
  font-weight: bold;
}
form.form-inline div.form-group{
  margin-right: 50px;
}

#demo-banner {
	position: fixed;
	right: -60px;
	bottom: -30px;
	width: 340px;
	height: 210px;
	background: url("../../img/demo-version.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#demo-banner-xs {
  background-color: #274F9E;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
	color: #F4CE10;
  font-family: Arial;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 0px 10px 0px 10px;
}
@media (min-width: 768px) { #demo-banner-xs{ display: none; } }
@media (max-width: 768px) { #demo-banner { display: none; } }

.avatar{
  width: 80px;
  height: 80px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
  border: 1px solid #D5D5D5;
}

.glyphicon-ban-circle{
  color: red;
}

#top-profile-link{
    padding-left: 55px;
}
.top-avatar{
  width: 45px;
  height: 45px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
  border: 1px solid #D5D5D5;
  position: absolute;
  left: 2px;
}
@media (min-width: 768px) { .top-avatar{  top: 8px;  } }
@media (max-width: 768px) { .top-avatar{  top: -4px;  } }

.glyphicon-fire.active-ico{
  color: red !important;
  }

span[id$='unactive']{
    cursor: default !important;
}

.breadcrumb>.active {
    color: #807E7E !important;
}

.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, .btn-primary.disabled.active, .btn-primary[disabled].active{
    background-color: #a9a9a9 !important;
    opacity: 1 !important;
}

.btn-add{
  margin: 20px 0px 15px 0px;
}

input[type="button" i]:disabled, input[type="submit" i]:disabled, input[type="reset" i]:disabled, input[type="file" i]:disabled::-webkit-file-upload-button, button:disabled, select:disabled, optgroup:disabled, option:disabled, select[disabled] > option {
    color: #c7c7c7;
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 20px;
  background-color: #f5f5f5;
}
.footer .footer-block {
  margin-top:8px;
  margin-bottom: 8px;
}
.sub-footer{
    border-top: 1px solid #e6e6e6;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

@media (max-width: 990px) { .footer div.text-center, .footer div.text-right {text-align: left;} }
@media (max-width: 767px) { H2 { font-size:25px; } }


/*
--------------------------------------------------
--------------------------------------------------
    hints
--------------------------------------------------
--------------------------------------------------
*/

#overlay {
    z-index : 1019;
}

.hints-helperLayer {
    position: absolute;
    z-index: 1020;
    background-color: #FFF;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #777;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.popover {
	z-index : 1030;
  max-width: 320px;
}
.popover.top {
	margin-top:-16px
}
.popover-title{
  color: #fff;
  background-color: #8E943F;
}
.popover-content{
  background-color: #F2F984;
}
.popover.right {
	margin-left:16px
}
.popover.bottom {
	margin-top:16px
}
.popover.left {
	margin-left:-16px
}

/*
--------------------------------------------------
--------------------------------------------------
    forms
--------------------------------------------------
--------------------------------------------------
*/

.main-form-group {
    background-color: rgb(243, 253, 218);
    border: 1px #c8e77a solid;
    padding: 5px 0px 10px 0px;
    margin: 0px 0px 30px 0px !important;
    border-radius: .25em;
}

.task-tag{
  margin-bottom: 8px;
  padding: 5px;
  line-height: 1.3;
  position: relative;
}
.task-tag .glyphicon-remove{
  margin-left: 10px;
}

#new_tag_button{
  margin-top: 13px;
}

#modal-body .glyphicon-remove {
    color: #f91010;
    cursor: pointer;
    vertical-align: bottom;
    display: none;
}

/*
--------------------------------------------------
--------------------------------------------------
    active actions
--------------------------------------------------
--------------------------------------------------
*/

.brlong{
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
span.nobr{
  white-space: nowrap;
}
span.red{
  color: red;
}
span[data-active="1"]{
  cursor: pointer;
}
span[data-active]:not(.btn):not(.glyphicon):not(.task-status){
  padding: 1px 3px;
}
span[data-active="1"]:not(.btn):not(.glyphicon):not(.task-status):hover{
  background: #ddd;
}
span[data-direct_action="1"]{
  position: relative;
}

/*
--------------------------------------------------
--------------------------------------------------
    disappearing messages
--------------------------------------------------
--------------------------------------------------
*/

/* сообщения об ошибках */
.errormessage {
  position: fixed;
  top: 0px;
  z-index: 2000;
  text-align: left;
  left: 0px;
  width: 100%; 
  background: #ee6b6b; 
  border: 1px solid black;  
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  opacity: .97;
  }
.errormessage_content, .errormessage_content h2{
  color: #000;
  }
.errormessage_content {
  margin: 0px 5px 5px 5px; 
  }
.errormessage_close {
  position:absolute; 
  top: 15px; 
  right: 15px;
  }
.errormessage_close a{
  padding: 3px; 
  background: #FFF
  }
.error-red{
  color: red;
  }
  
/* самоисчезающие сообщения */
/*#alerts-container{
  position: fixed;
  top: 50px;
  width:100%;
  text-align:center;
  }
.alert {
  display:table;
  margin: 2px auto;
  padding: 3px 10px 3px 10px;
  display:table;
  margin: 2px auto;
}*/

/*
--------------------------------------------------
--------------------------------------------------
    preloaders
--------------------------------------------------
--------------------------------------------------
*/

.loadFacebookG{
  width:32px;
  height:32px;
  position: relative;
  overflow: auto;
  display:inline-block;
  vertical-align:bottom;
}

.loadFacebookC {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -10px;
}

.facebook_blockG{
	background-color:rgb(172,160,147);
	border:1px solid rgb(137,121,103);
  float:left;
	height:10px;
	width:4px;
	opacity:0.2;
  margin-left:2px;
	animation-name:bounceG;
		-o-animation-name:bounceG;
		-ms-animation-name:bounceG;
		-webkit-animation-name:bounceG;
		-moz-animation-name:bounceG;
	animation-duration:0.6s;
		-o-animation-duration:0.6s;
		-ms-animation-duration:0.6s;
		-webkit-animation-duration:0.6s;
		-moz-animation-duration:0.6s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(0.7);
		-o-transform:scale(0.7);
		-ms-transform:scale(0.7);
		-webkit-transform:scale(0.7);
		-moz-transform:scale(0.7);
}

#blockG_1{
	animation-delay:0.25s;
		-o-animation-delay:0.25s;
		-ms-animation-delay:0.25s;
		-webkit-animation-delay:0.25s;
		-moz-animation-delay:0.25s;
}

#blockG_2{
	animation-delay:0.4s;
		-o-animation-delay:0.4s;
		-ms-animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		-moz-animation-delay:0.4s;
}

#blockG_3{
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

@keyframes bounceG{
	0%{
		transform:scale(1.2);
		opacity:1;
	}
	100%{
		transform:scale(0.7);
		opacity:0.1;
	}
}

@-o-keyframes bounceG{
	0%{
		-o-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-o-transform:scale(0.7);
		opacity:0.1;
	}
}

@-ms-keyframes bounceG{
	0%{
		-ms-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-ms-transform:scale(0.7);
		opacity:0.1;
	}
}

@-webkit-keyframes bounceG{
	0%{
		-webkit-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(0.7);
		opacity:0.1;
	}
}

@-moz-keyframes bounceG{
	0%{
		-moz-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-moz-transform:scale(0.7);
		opacity:0.1;
	}
}



/*
--------------------------------------------------
--------------------------------------------------
    tooltips
--------------------------------------------------
--------------------------------------------------
*/

.tooltip{
  pointer-events:none;
}

.tooltip.in {
  opacity: 1;
}

div.tooltip-inner{
  text-align: left;
  white-space:pre;
  max-width:none;
  }

div.tooltip-inner > gray{
  color: #000000;
  }

div.tooltip-inner > red{
  color: #fcb4b4;
  }

.tooltip-inner hr{
  margin: 3px 0 3px 0;
  color: #fff;
  background-color: #fff;
}

/*
--------------------------------------------------
--------------------------------------------------
    tables
--------------------------------------------------
--------------------------------------------------
*/

.table {
  margin-top: 25px;
  margin-bottom:10px !important;
}
.table tr th {
  white-space:nowrap;
}

div.dataTables_wrapper div.dataTables_paginate{
  padding-top: 9px;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #d8edfd !important;
}
table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: #666 !important;
}
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #2196f3 !important;
}

div.abtasks-table{
  position: relative;
}
div.abtasks-table .table-toolbar{
  position: absolute;
  right: 10px;
  z-index: 100;
  display: none;
}
div.abtasks-table div.table-toolbar a{
  font-size: 120% !important;
  display: block;
  margin: 0px 0px 3px 0px;
}

@media (min-width: 850px){
  div.table-toolbar{
    right: -20px !important;
  }  
}

.table span.glyphicon, .table i.fa-circle{
  margin: 3px 3px 2px 4px;
}
.table .glyphicon-envelope{
  color: #D4C9C9;
}
.table .fa-circle{
  color: #F9CD8D;
}
.table .glyphicon-eye-close, .table .glyphicon-hourglass{
  color: #1F1E1E;
}

.table .t_tm_count{
  margin: 0px 1px;
}

.table span.danger{
  color: red;
}

.table span.bold{
  font-weight: bold;
}

.table .t_tm_count_block {
  margin-left: 1px;
  color: #2196f3;
}

.table tr td span.task-tags {
    font-size: 80%;
}

#tasks_list tr td span.task-tags.empty-tags{
  visibility: hidden;
}

.table tr td.no-wrap{
  white-space:nowrap;
}

.table tr td>span.sortdata{
  display: none;
}

.load-table .preloader {
  margin-top:60px;
  text-align:center;
  font-size:150%;
}

.pagination>li>a, .pagination>li>span{
  padding: 0px 10px;
}
