/*----------------above messages----------------------*/

#task-title{
  position: relative;
}
#t_title{
  min-height: 50px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#task-params .col-sm-6, #task-params .col-xs-12{
  margin-bottom: 15px;
}

#task-buttons{
    text-align: right;

}
#task-buttons>div{
    margin-bottom: 10px;
    display: inline-block;
}

#task_ready, #task_ready_cancel_container, #draft-task-area, #task_delete{
  display:inline-block;
  margin-left: 10px;
}
#task_delete span{
  margin: 3px 5px 5px 10px;
}
#task_delete img{
  margin: 10px 30px 5px 10px;
}


#task-params .glyphicon-ok{
  color: rgb(10, 216, 10);
}
#task-addons-block{
}

#task-id{
  color: #000;
  display: inline-block;
  font-size: 260%;
  line-height: 1;
  white-space: nowrap;
}

#task-icons{
  color: #D8D6D6;
  display: inline-block;
  font-size: 180%;
  white-space: nowrap;
  background-color: #f9f9f9;
  line-height: 30px;
  padding: 0px 6px;
  margin: 0px 20px 0px 0px;
}

#task-icons span{
  margin: 5px 4px 0px 4px;
}

.well{
  background-color: #f3f3f3;
}

.active-ico, .task-eye-active-ico{
  color: #000 !important;
}


span.task-status{
  display: inline-block;
  font-size: 130%;
  }

span.task-status .fa-circle{
  display: inline-block;
  color: yellow;
  font-size: 80%;
  margin-left: 10px;
  margin-top: -3px;
}

span.user-role{
    color: #b3b3b3;
    font-size: 80%;
}
span.user-role .red{
    color: red;
}

span.task-control-label{
  font-weight: bold;
  margin-right: 10px;
}

span.total-hours{
  border: 1px solid #E7E7E7;
  background-color: #E8E7E7;
  padding: 5px 4px 5px 4px;
  vertical-align: middle;
  border-radius: 3px;
  }
#task-total-client-hours{
  padding: 2px 5px 2px 5px;
}
#task-total-worker-hours{
  padding: 2px 5px 2px 5px;
}

/*----------------nav panel------------------------*/

#nav-panel{
  position: fixed;
  right: 0px;
  top: 40%;
  z-index: 100;
}

#nav-panel a{
  font-size: 120% !important;
  display: block;
  margin: 0px 0px 3px 0px;
}

#nav-panel #nav-panel-refresh:not(.disabled){
  background-color: #ec7171 !important;
}

#nav-panel #nav-panel-refresh:hover:not(.disabled){
  background-color: #f13a3a !important;
}

#nav-panel #nav-panel-expand,
#nav-panel #nav-panel-collapse,
#nav-panel #nav-panel-refresh,
#nav-panel #nav-panel-up,
#nav-panel #nav-panel-down{
  display: none;
}

#nav-panel .disabled{
  background-color: #aaa;
  cursor: default !important;
}

/*----------------below messages------------------------*/
#add-message{
  display: block;
  width : 220px;
  margin: 60px auto 80px auto;
  }

.advice-add-message {
  display:none;
  text-align:center;
}
.advice-add-message P {
  margin:0;
}
.advice-add-message BUTTON {
   margin:0 20px 0 20px;
}


/*-------------responsible stuff-------------------*/

@media (max-width: 767px) {
  #task-buttons {
    text-align:left;
    padding:0;
  }
  #t_title {
    min-height:0;
    text-align:left;
    font-weight:500;
  }
  #task-id {
    font-size:25px;
    margin-right:10px;
  }
}