
.message-wrap{
  padding-bottom: 40px;
  position: relative;
}

.new-author{
  border-top: 2px solid #aaa;
}
.same-author{
  border-top: 1px solid #aaa;
}

[data-clipboard]{
   cursor: pointer;
}


/*-------------------message meta-----------------------*/
.message-meta{
  padding: 12px 12px 12px 12px;
}

.updated{
  color: #666;
  font-size: 11px;
  line-height: 1;
}

 .message-id{
  font-size: 16px;
  line-height: 1;
  color: #666;
 }

.updated{
  margin-bottom: 8px;
}

.updated .pending, .updated .outdated{
    color: #EF0E0E;
}

.message-icons, .message-id{
  display: inline-block;
  vertical-align: middle;
}

.message-icons span, .message-icons img{
  margin: 5px 5px 0px 0px;
}

.message-eye{
  color: #D8D6D6;
  cursor: pointer;
  font-size: 120%;
}

.message-eye{
  margin-top: 4px;
}

.message-wrap-task-eye, .message-wrap-eye{
  background-color: rgba(253, 245, 154, 0.21);
}


/*-------------------message content-----------------------*/

.content-wrap{
  padding: 12px 12px 6px 12px;
  min-height: 172px;
 }

.message-content{
  color: #000000;
  min-height: 100px;
      -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.message-content .ql-editor{
  padding: 0px;
  overflow-y: inherit;
}

.message-content.ql-container.ql-bubble:not(.ql-disabled) a{
 white-space: pre-wrap;
}

.message-content.ql-container.ql-bubble:not(.ql-disabled) a::before {
  background-color: #727272;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 8px;
  content: attr(href);
  white-space: nowrap;
}

.message-content.ql-container.ql-bubble:not(.ql-disabled) a::after{
  border-top: 6px solid #727272;
}

.message-content{
  padding: 0px !important;
  font-size: 16px !important;
}

.message-content p{
  margin-bottom: 1em !important;
  line-height: 160% !important;
}

.message-content pre{
  margin-top: 0px !important;
  margin-bottom: 1em !important;
  /*background-color: #505558 !important;*/
  font-size: 14px !important;
  line-height: 150% !important;
}



.message-content:focus { outline: 0px solid transparent; }

.message-content img{
  max-width: 100%;
  height: auto;
  background-color: #e8f3fe;
  background-repeat:no-repeat;
  overflow: auto;
  cursor: default;
}
.message-content img[src$="ajax-loader.gif"]{
  margin: 2px;
  padding: 10px;
  border: 1px solid #dcdcdc;  
  display: inline-block;
}

/*bubble toolbar*/

.content-wrap .ql-bubble .ql-tooltip{
  z-index: 1;
}

.content-wrap .ql-bubble .ql-toolbar {
  border-radius: 5px;
  background-color: #2196f3;
}

.content-wrap .ql-bubble .ql-picker-options{
  background-color: #2196f3;
  padding: 0px;
}

.content-wrap .ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
    border-bottom: 6px solid #2196f3;
}

.content-wrap .ql-bubble .ql-toolbar .ql-formats {
    padding: 0px !important;
    margin: 0px !important;
}
.content-wrap .ql-editor.ql-blank::before {
    color: #C4C4C5;
    font-style: normal;
}

.content-wrap .ql-bubble .ql-fill, .ql-bubble .ql-stroke.ql-fill {
    fill: #fff;
}

.content-wrap .ql-bubble .ql-stroke, .content-wrap .ql-bubble .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: #fff;
}

.content-wrap .ql-bubble .ql-picker-label{
  padding-left: 6px;
}

.content-wrap .ql-bubble .ql-picker.ql-size .ql-picker-label::before, .content-wrap .ql-bubble .ql-picker.ql-size .ql-picker-item::before {
    color: #fff;
    padding: 6px;
}
.content-wrap .ql-bubble .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg{
  right: 4px;
}

.content-wrap .ql-bubble.ql-toolbar button, .content-wrap .ql-bubble .ql-toolbar button {
    height: 34px; 
    width: 34px;
    padding: 6px;
    border-right: 1px solid #80AFD4;
}

.content-wrap .ql-bubble .ql-toolbar .ql-formats:first-child button:first-child, 
.content-wrap .ql-bubble.ql-toolbar .ql-formats:first-child button:first-child {
    border-radius: 5px 0px 0px 5px;
}
.content-wrap .ql-bubble .ql-toolbar .ql-formats:last-child button:last-child, 
.content-wrap .ql-bubble.ql-toolbar .ql-formats:last-child button:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: none;
}


.content-wrap .ql-bubble .ql-picker.ql-size {
    height: 34px; 
    border-right: 1px solid #80AFD4;
}

.content-wrap .ql-bubble .ql-color-picker {
    height: 34px; 
    width: 34px;
    border-right: 1px solid #80AFD4;
}
.content-wrap .ql-bubble .ql-color-picker svg{
    margin: 0px;
}

.content-wrap .ql-bubble .ql-color-picker .ql-picker-label{
    padding: 6px !important;
}

.content-wrap .ql-bubble .ql-picker.ql-expanded .ql-picker-label{
  color: #fff;
}
.content-wrap .ql-bubble .ql-picker.ql-expanded .ql-picker-label .ql-fill{
  fill: #fff;
}

.content-wrap .ql-bubble .ql-picker.ql-expanded .ql-picker-options{
  margin-top: 0px;
}

.content-wrap .ql-bubble .ql-picker-options .ql-picker-item{
  padding-left: 6px;
}

.ql-bubble.ql-toolbar button:hover, .ql-bubble .ql-toolbar button:hover, .ql-bubble.ql-toolbar button.ql-active, .ql-bubble .ql-toolbar button.ql-active, .ql-bubble.ql-toolbar .ql-picker-label:hover, .ql-bubble .ql-toolbar .ql-picker-label:hover, .ql-bubble.ql-toolbar .ql-picker-label.ql-active, .ql-bubble .ql-toolbar .ql-picker-label.ql-active, .ql-bubble.ql-toolbar .ql-picker-item:hover, .ql-bubble .ql-toolbar .ql-picker-item:hover, .ql-bubble.ql-toolbar .ql-picker-item.ql-selected, .ql-bubble .ql-toolbar .ql-picker-item.ql-selected, .ql-bubble .ql-picker.ql-expanded {
    background-color: #0d87e9;
}


/*collapsed message*/
.message-collapsed.message-wrap {
  margin-bottom: 0px;
  padding: 0px;
  background-color: #e5e5e5;
  border-color: #aaa;
}

.message-collapsed div.avatar,
.message-collapsed div.message-icons,
.message-collapsed div.message-id,
.message-collapsed .ql-editor.ql-blank::before,
.message-collapsed div.filedrag,
.message-collapsed ul.files {
  display:none !important;
}

.message-collapsed .message-meta {
  padding: 6px 2px 2px 12px;
}

.message-collapsed .content-wrap {
  min-height: 0px;
  padding: 6px 12px 14px 12px;
}

.message-collapsed .message-content{
  height: 40px;
  color: #555 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 0px;
  line-height: 130%;
}

.message-collapsed .message-content .ql-editor{
  line-height: 130%;
}

.message-collapsed div.message-content img{
  width: 30px;
  height: 20px;
  margin-top: -3px;
  padding-left: 30px;
  border: 0;
  background:url('/img/picture.png') no-repeat center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.message-collapsed a{
  color: #000;
  pointer-events: none;
  transition-delay: 0s;
  transition-duration: 0s;
}
.message-collapsed a:hover{
  font-style: normal !important;
}

.message-collapsed div.message-content br{
  content: " ";
  margin:0 4px 0 0;
  display: inline;
}

.message-collapsed div.message-content h1,
.message-collapsed div.message-content h2,
.message-collapsed div.message-content h3,
.message-collapsed div.message-content h4,
.message-collapsed div.message-content h5,
.message-collapsed div.message-content h6,
.message-collapsed div.message-content h7,
.message-collapsed div.message-content h8,
.message-collapsed div.message-content span,
.message-collapsed div.message-content p,
.message-collapsed div.message-content a,
.message-collapsed div.message-content strong,
.message-collapsed div.message-content em,
.message-collapsed div.message-content u,
.message-collapsed div.message-content s
{
  font-size: 100% !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
  margin: 0 4px 0 0;
  color: #555 !important;
  background-color: #e5e5e5 !important;
  display: inline;
  line-height: 130% !important;
}

.overlay{
  position: absolute;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

.collapser{
  height: 12px;
}
.expander{
  height: 100%;
}

/*-------------------message files-----------------------*/

ul.files{
  margin: 10px 0px 20px 0px;
  padding: 0px;
  list-style-type: none;
}
ul.files li{
  display: block;
  margin: 5px 0px 5px 0px;
}

table.li-file{
  border: 1px solid #dcdcdc;
  background: #DDF9F7;
  max-width: 650px;
  height: 23px;
  width: 70%;
}


td.file-name{
  width: 1%;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

/*@media (max-width: 767px) { td.file-name{ max-width: 150px; } }
@media (min-width: 768px) { td.file-name{ max-width: 250px; } }
@media (min-width: 992px) { td.file-name{ max-width: 400px; } }*/

td.file-size{
  width: 1%;
  white-space: nowrap;
  color: #939393;
  padding-right: 10px;
}

@media (max-width: 767px) { td.file-progress{ min-width: 0px; } .files .li-file{ width:100%; } }

td.file-progress .progress{
  width: 140px;
  height: 14px;
  border: 1px solid #9D9999;
  padding: 1px;
  margin: 0px;
}
td.file-progress .progress .progress-bar:last-child {
  border-radius: 0px;
}
td.file-progress .progress .progress-bar:last-child:before {
  background-color: #EFFCFB;
}
td.remove-button{
  width: 20px;
  text-align: center;
}
td.remove-button .glyphicon-remove{
  font-size: 70%;
  cursor: pointer;
  top: -1px;
}


/*-------------------message drop-zone-----------------------*/

.filedrag{
  border-top: 1px dashed #D5D5D5;
  padding: 2px;
  position: relative;
  min-height: 30px;
  cursor: pointer;
}

.filedrag.highlighted {
  background: #FDEEE3;
}

.drop-files-here{
  line-height: 10pt;
  text-align: center;
  font-size: 90%;
  width: 100%;
  height: 100%;
  color: #C4C4C5;
  padding-right:40px;
}

.filedrag:hover .drop-files-here, .highlighted .drop-files-here{
  color: #000;
}

.filedrag #clip{
  opacity: 0;
  height: 1px;
}
.filedrag .glyphicon-trash{
  border: 1px solid #C4C4C5;
  padding: 5px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: #C4C4C5;
  cursor: pointer;
  font-size: 90%;
}
.filedrag .glyphicon-trash:hover{
  border: 1px solid #000;
  color: #000;
}
.filedrag img{
  float: right;
  margin: 8px 7px 0px 0px;
}
.delete-confirm{
  position: absolute;
  top: 3px;
  right: 5px;
  }
#task_delete .delete-confirm {
  position: static !important;
}

.s3-policy, .s3-signature{
  display: none;
  }

/*-------------responsible stuff-------------------*/

@media (max-width: 767px) {
  .content-wrap{
    text-align:justify;
    width:100%;
  }
  .profile .avatar {
    float:left;
    margin-right:20px;
  }
}

@media (max-width: 991px) {
  .delete-confirm {
    position:static;
    display:block;
    margin-bottom:10px;
    text-align:right;
  }
}

